body {
  font-family: "HankenGroteskRegular", "Overpass", sans-serif !important;
}
/* your custom css */
.headerTitleWithLogo {
  white-space: nowrap;
  margin-top: 0.25rem;
}

.mainContainer {
  background: #f7fbfd;
}

.mainContainer .wrapper a,
.inner .projectIntro a {
  text-decoration: underline;
}

.homeContainer {
  background-color: #17181d;
  background-size: cover;
  background-position: center 20%;
  text-align: left !important;
}

.homeContainer .homeWrapper {
  padding: 80px 5% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promoSection {
  flex-flow: nowrap !important;
}

.projectLogo img {
  position: relative;
  left: 3rem;
  margin-top: 2rem;
  max-height: 200px !important;
}

.homeContainer h2.projectTitle {
  font-family: "HankenGroteskLight", "HankenGroteskRegular", "Overpass",
    sans-serif !important;
  font-size: 52px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 0 !important;
}
.homeContainer small.project-subtitle {
  font-family: "HankenGroteskRegular", "Overpass", sans-serif !important;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.2px;
  color: #ffffff;
}
a.take-tutorial {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  background-image: linear-gradient(83deg, #00dbe2, #01bfe3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a {
  font-weight: bold;
}

.navigationSlider .slidingNav ul li a {
  background-color: transparent !important;
  color: black !important;
  transition: all 0.25s ease-in-out 0s;
  padding: 6px 20px !important;
}

.navigationSlider .slidingNav ul li a:hover {
  background-color: transparent !important;
  color: rgb(75, 75, 75) !important;
}

.fixedHeaderContainer {
  background-color: rgba(255, 255, 255, 0.95);
}

.fixedHeaderContainer header h2 {
  color: black;
}

.edit-page-link {
  border: none;
}

.edit-page-link:hover {
  background: none;
  color: black;
}

hr {
  border-top: 1px solid #d6d6d6;
  border-bottom: 0;
  margin: 2.5rem 0;
}

code {
  font-size: 1rem;
  margin: 0 0.25rem;
}

blockquote,
pre {
  max-width: 50rem;
}

blockquote {
  border-left: 7px solid #ffc668;
  background-color: #fef5e7;
  border-radius: 5px;
}

blockquote p {
  padding-top: 0px !important;
}

li .item h4 {
  padding-top: 0px !important;
}

.navSearchWrapper::before,
.navSearchWrapper::after {
  display: none !important;
}

input#search_input_react {
  background-color: white !important;
  color: black !important;
  line-height: 32px !important;
  padding-left: 15px !important;
}

input#search_input_react::placeholder {
  color: #3b3b3b !important;
}

/* Footer */
#footer {
  background-color: #262831;
  box-shadow: none !important;
}
footer.nav-footer .sitemap .nav-home,
footer.nav-footer .sitemap .nav-home img {
  opacity: 1;
  width: auto;
}
footer.nav-footer {
  padding-top: 3em;
}
footer.nav-footer .sitemap .nav-home img {
  height: 200px;
}
@media only screen and (max-width: 735px) {
  footer.nav-footer .sitemap .nav-home,
  footer.nav-footer .sitemap .nav-home img {
    opacity: 1;
    width: 120px;
    padding: 10px 0;
  }
  footer.nav-footer .sitemap h5 {
    margin-top: 30px;
  }
}

footer.nav-footer .sitemap div {
  flex: none;
  min-width: 158px;
}
footer.nav-footer .sitemap a {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.1px;
  color: #ffffff;
  font-size: 16px;
}
footer.nav-footer .sitemap h5 {
  opacity: 0.39;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-top: 0 !important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .homeContainer {
    background-color: #17181d;
  }
}

@media only screen and (max-width: 393px) {
  .homeContainer {
    background-image: none;
  }

  input#search_input_react {
    line-height: 20px !important;
  }
}

@media only screen and (min-width: 394px) and (max-width: 551px) {
  .homeContainer {
    background-size: 350%;
    background-position: 50% -50%;
    background-repeat: no-repeat;
  }

  input#search_input_react {
    line-height: 20px !important;
  }
}

@media only screen and (min-width: 552px) and (max-width: 781px) {
  .homeContainer {
    background-size: 300%;
    background-position: 50% 30%;
  }

  input#search_input_react {
    line-height: 20px !important;
  }
}

/* 1024px-1279px */
@media only screen and (min-width: 782px) and (max-width: 1023px) {
  .homeContainer {
    background-size: 200%;
    background-position: 60% 20%;
  }
}

/* 1024px-1279px */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .homeContainer {
    background-size: 150%;
    background-position: center 20%;
  }
}

/* >1279px */
@media only screen and (min-width: 1280px) and (max-width: 1399px) {
  .homeContainer {
    background-size: 150%;
    background-position: center 20%;
  }
}

/* >1400px */
@media only screen and (min-width: 1400px) {
  .homeContainer {
    background-size: 110%;
    background-position: center 20%;
  }
}

/* Use Cases */
.crypto-protocol {
  background-image: url(/img/crypto-protocols.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.for-dapps {
  background-image: url(/img/for-dapps.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 81px !important;
}
.for-daos {
  align-items: center;
}
.for-daos-img-div {
  width: calc(100% - 500px);
}
.for-daos-img-div img {
  padding: 0 10%;
}
.use-case-mobile-div {
  display: none;
}

@media only screen and (max-width: 1026px) {
  .crypto-protocol,
  .for-dapps {
    background-image: none;
    align-items: flex-start !important;
  }
  .for-daos-img-div {
    display: none;
  }
  .use-case-mobile-div {
    display: block;
    text-align: center;
    width: 100%;
  }
  .for-dapps {
    padding-left: 30px !important;
  }
}

/* Home */
@media only screen and (max-width: 976px) {
  .home-logo {
    display: none;
  }
}

@media only screen and (max-width: 735px) {
  .productShowcaseSection .logos img {
    max-height: 74px !important;
    width: 74px !important;
    padding: 10px !important;
  }
}

/* Docs */
.mainContainer .wrapper .post .postHeader h1 {
  font-family: "HankenGroteskRegular", sans-serif !important;
  font-size: 38px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #2d4051;
  border-top: solid 0px transparent;
}
.mainContainer .wrapper .post h3 {
  font-family: "HankenGrotesk", sans-serif !important;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 62px;
  color: #2d4051;
}
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h1 {
  font-family: "HankenGroteskLight", sans-serif !important;
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  border-top: solid 0.5px #979797d1;
  color: #2d4051;
}
hr {
  opacity: 0;
  border: solid 0.5px #979797;
}
.mainContainer .wrapper ul {
  padding-left: 19px;
}

.mainContainer,
.docMainWrapper.wrapper,
.navPusher {
  background: white;
}
.mainContainer .wrapper p,
.blockElement p,
.mainContainer .wrapper ul li,
.mainContainer .wrapper ol li {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  line-height: 28px;
  color: #2d4051;
}
.onPageNav > ul {
  border-left: 3px solid #01bfe3;
}
.onPageNav a {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: -0.1px;
  color: #2d4051;
  font-size: 14px;
  padding: 0 10px;
}

.onPageNav a:hover {
  color: #000000;
}

nav.toc .toggleNav ul {
  padding-left: 0;
}

nav.toc .toggleNav ul li a {
  font-family: "HankenGroteskRegular", sans-serif !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #7f8198;
  font-size: 16px;
}
nav.toc .toggleNav ul li a:hover,
nav.toc .toggleNav ul li a:focus,
nav.toc .toggleNav ul li a.navItemActive,
.toc .toggleNav ul li.navListItemActive a {
  color: #01c3e3;
}

nav.toc .toggleNav .navGroup h3 {
  font-family: "HankenGroteskLight", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #2d4051;
  font-size: 24px;
  padding-top: 10px;
}
.button {
  font-family: "HankenGroteskRegular", sans-serif !important;
  margin: 4px 0 !important;
  padding: 15px 0;
  border: 0px solid transparent;
  border-radius: 3px;
  color: #00c2e8;
  font-weight: bold !important;
}

.button:hover {
  background: transparent;
  color: #02a2c1;
}

/* Secondary navbar
/* ---------------------------------------------------------- */
.secondary-navbar {
  height: 107px;
  background-color: #2d2e38;
  margin-top: 13px;
}
.secondary-navbar h6 {
  margin-top: 9px !important;
  font-size: 15px;
  line-height: 22px;
  color: white;
  font-weight: 400;
}
.secondary-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  color: white;
  height: 107px;
}
.secondary-navbar svg {
  width: 40px;
}
.secondary-navbar a {
  text-decoration: none;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  outline: 0;
}
.secondary-navbar a:hover {
  opacity: 0.5;
}
.secondary-item {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

.secondary-navbar a:hover .white {
  fill: #22e0ff;
  transition: all 0.25s ease-in-out;
}
.white:hover {
  fill: #22e0ff;
}

@media (max-width: 745px) {
  .secondary-navbar,
  .secondary-container {
    height: 67px;
  }
  .secondary-navbar a {
    padding: 0 10px;
  }
  .secondary-item h6 {
    display: none;
  }
  .secondary-navbar img {
    width: 45px;
  }
}

.hero-box {
  background-image: url(/img/lines.svg), url(/img/lines-side.svg);
  background-position: top left, right bottom;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 15px 0 0 15px;
}
