/* your custom css */
.headerTitleWithLogo {
  white-space: nowrap;
  margin-top: 0.25rem;
}

.mainContainer {
  background: #F7FBFD;
}

.mainContainer .wrapper a, .inner .projectIntro a {
  text-decoration: underline;
}

.homeContainer {
  background-image: url(/img/landing.svg);
  background-color: #EFF5F9;
  background-size: cover;
  background-position: center 20%;
  text-align: left !important;
}

.homeContainer .homeWrapper {
  padding: 10em 1.5em !important;
}

.promoSection {
  flex-flow: nowrap !important;
}

.projectLogo img {
  position: relative;
  left: 3rem;
  margin-top: 2rem;
  max-height: 200px !important;
}

.projectTitle small {
  color: #1AB8CF !important;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a {
  font-weight: bold;
}

.navigationSlider .slidingNav ul li a {
  background-color: transparent !important;
  color: black !important;
  transition: all 0.25s ease-in-out 0s;
  padding: 6px 20px !important;
}

.navigationSlider .slidingNav ul li a:hover {
  background-color: transparent !important;
  color: rgb(75,75,75) !important;
}

.fixedHeaderContainer {
  background-color: rgba(255,255,255,0.95);
}

.fixedHeaderContainer header h2 {
  color: black;
}

.edit-page-link {
  border: none;
}

.edit-page-link:hover {
  background: none;
  color: black;
}

hr {
  border-top: 1px solid #d6d6d6;
  border-bottom: 0;
  margin: 2.5rem 0;
}

code {
  font-size: 1rem;
  margin: 0 0.25rem;
}

blockquote, pre {
  max-width: 50rem;
}

blockquote {
  border-left: 5px solid #ffe563;
  background-color: #fff7d2;
}

blockquote p {
  padding-top: 0px !important;
}

#footer {
  background-image: url(/img/footerbg.svg);
  background-color: #353535 !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 393px) {
  .homeContainer {
    background-image: none;
  }
}

@media only screen and (min-width: 394px) and (max-width: 551px) {
  .homeContainer {
    background-size: 350%;
    background-position: 50% -50%;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 552px) and (max-width: 781px) {
  .homeContainer {
    background-size: 300%;
    background-position: 50% 30%;
  }
}

/* 1024px-1279px */
@media only screen and (min-width: 782px) and (max-width: 1023px) {
  .homeContainer {
    background-size: 200%;
    background-position: 60% 20%;
  }
}

/* 1024px-1279px */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .homeContainer {
    background-size: 150%;
    background-position: center 20%;
  }
}

/* >1279px */
@media only screen and (min-width: 1280px) and (max-width: 1399px) {
  .homeContainer {
    background-size: 150%;
    background-position: center 20%;
  }
}

/* >1400px */
@media only screen and (min-width: 1400px) {
  .homeContainer {
    background-size: 110%;
    background-position: center 20%;
  }
}

@media only screen and (min-width: 1500px) {
}
