/* your custom css */
.headerTitleWithLogo {
  white-space: nowrap;
  margin-top: 0.25rem;
}

.mainContainer {
  background: #F7FBFD;
}

.mainContainer .wrapper a, .inner .projectIntro a {
  text-decoration: underline;
}

.homeContainer {
  background-image: linear-gradient(to top, #F7FBFD 0%, rgba(255,255,255,0.1) 100%), url(/img/bg.png);
  background-size: cover;
}

.homeContainer .homeWrapper {
  padding: 6em 10px !important;
}

.projectLogo img {
  position: relative;
  left: 3rem;
  margin-top: 2rem;
  max-height: 200px !important;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a {
  font-weight: bold;
}

.navigationSlider .slidingNav ul li a {
  background-color: transparent !important;
  color: black !important;
  transition: all 0.25s ease-in-out 0s;
  padding: 6px 25px !important;
}

.navigationSlider .slidingNav ul li a:hover {
  background-color: transparent !important;
  color: rgb(75,75,75) !important;
}

.fixedHeaderContainer {
  background-color: rgba(255,255,255,0.95);
}

.fixedHeaderContainer header h2 {
  color: black;
}

blockquote, pre {
  max-width: 50rem;
}

blockquote {
  border-left: 5px solid #ffe563;
  background-color: #fff7d2;
}

blockquote p {
  padding-top: 0px !important;
}

footer {
  box-shadow: none !important;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
